{% extends 'base.html.twig' %}

{% block title %}Edit Depot{% endblock %}

{% block body %}
    <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                  <h6>Dépots</h6>
                  <h2>Modifier Dépot </h2>
                </div>
              </div>
              <div class="col-lg-4 offset-lg-4">
                    {{ include('depot/_form.html.twig', {'button_label': 'Update'}) }}
                    <form action="{{ path('app_depot_index') }}">
                    <button class="btn">Retour</button>
                    {{ include('depot/_delete_form.html.twig') }}
                    </form>

              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
