<!DOCTYPE html>

<title>New Plannig</title>

{% block body %}
    <h1>Create new Plannig</h1>

    {{ include('plannig/_form.html.twig') }}

    <a href="{{ path('app_plannig_index') }}">back to list</a>
{% endblock %}
