@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }

    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }

    .margiini
    {
        margin-top: 100px;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

    nav {
        position: relative;
        z-index: 1000; /* Ensures navbar is above the map */
    }

    #map {
        position: relative;
        z-index: 1; /* Keeps the map below other elements */
    }
