{% extends 'base_login.html.twig' %}

{% block title %}New Password{% endblock %}

{% block body %}
<div class="login-container">
    <div class="wrapper">
        <div class="logo">
            <img src="{{ asset('uploads/logo.png') }}" alt="ecoway">
        </div>
        <div class="text-center mt-4 name">
            ECOWAY
        </div>

        <form class="p-3 mt-3" method="post">
            <h1>Enter New Password</h1>

            {% if error is defined and error %}
                <div class="alert">{{ error.message }}</div>
            {% endif %}


            <div class="form-field d-flex align-items-center">
                <label for="inputPassword">New Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('reset_password') }}">

            <button class="btn btn-lg btn-primary" type="submit">
                Reset Password
            </button>
        </form>
    </div>
</div>
{% endblock %}
