.progress {
    height: 20px; /* Adjust height of the progress bar */
    margin-bottom: 0px;
}
.progress-bar {
    text-align: center;
    color: white;
    font-weight: bold;
}

li.open{
    background-color: #523974 !important;
    padding-left: 30px;
}

li.open span{
    color: #ffff !important;
}

li.open i{
    color: #ffff !important;
}

li.closed{
    padding-left: 30px;
}
