{% extends 'back.html.twig' %}

{% block body %}
    <h1>{{ user.name }}</h1>
    <p>Email: {{ user.email }}</p>
    <p>Roles: {{ user.roles|join(', ') }}</p>
    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-warning">Edit</a>
{% endblock %}
