{% extends 'back.html.twig' %}

{% block body %}
    <h1>Create New User</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Create</button>
    {{ form_end(form) }}

    <a href="{{ path('app_user') }}" class="btn btn-secondary">Back to Users</a>
{% endblock %}
