{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <div id="contact" class="contact-us section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
                    {# Ajout de enctype pour gérer l'upload d'image #}
                    <form id="contact" action="" method="post" enctype="multipart/form-data" novalidate>
                        <div class="row">
                            <div class="col-lg-6 offset-lg-3">
                                <div class="section-heading">
                                    <h6>Blog</h6>
                                    <h2>Créer un nouveau Post</h2>
                                </div>
                            </div>
                            <div class="col-lg-4 offset-lg-4">
                                {{ include('post/_form.html.twig') }}
                            <form action="{{ path('front_posts') }}">
                             <button class="btn">Retour</button>
                             </form>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
     