{% extends 'base.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block body %}
  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="" method="post" novalidate>
            <div class="row">
              <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                  <h6>Post</h6>
                  <h2>Ajouter un Commentaire</h2>
                </div>
              </div>
              <div class="col-lg-4 offset-lg-4">
                {{ include('commentaire/_form.html.twig') }}
                <form action="{{ path('app_post_index') }}">
                  <button class="btn">Retour</button>
                </form>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
