{% extends 'base.html.twig' %}

{% block title %}New Collecte{% endblock %}

{% block body %}
    <h1>Create new Collecte</h1>

    {{ include('collecte/_form.html.twig') }}

    <a href="{{ path('app_collecte_index') }}">back to list</a>
{% endblock %}
