{% extends 'base.html.twig' %}

{% block title %}Catégorie {% endblock %}

{% block body %}
  

    

    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Search categories..." id="searchInput">
    </div>

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                
                <th>Nom</th>
               
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
               
                <td>{{ categorie.nom }}</td>
             
                <td>
 <a href="{{ path('app_categorie_show', {'id': categorie.id}) }}" class="btn btn-secondary btn-sm custom-brown">Montrer</a>
<a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}" class="btn btn-secondary btn-sm custom-brown">Modifier</a>

                </td>
            </tr>
        {% else %}
           <tr>
    <td colspan="4" class="text-center">Aucune catégorie disponible. Veuillez ajouter de nouvelles catégories.</td>
</tr>

        {% endfor %}

        </tbody>
    </table>

{% endblock %}
