{% extends 'base.html.twig' %}

{% block title %}Créer une BandeCommande{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center text-primary mb-4">Créer une Nouvelle BandeCommande</h1>

        <div class="card shadow p-4">
            {{ include('bande_commande/_form.html.twig') }}
        </div>

        <div class="mt-3 text-center">
            <a href="{{ path('app_bande_commande_index') }}" class="btn btn-secondary">Retour à la liste</a>
        </div>
    </div>
{% endblock %}
