{% extends 'base.html.twig' %}

{% block title %}New Evenement{% endblock %}

{% block body %}
    <h1>Create new Evenement</h1>
    {{ form_start(form, { 'attr': { 'novalidate': 'novalidate' } }) }}
    {{ include('evenement/_form.html.twig') }}
    {{ form_end(form) }}
    

{% endblock %}
