<form method="post" action="{{ path('app_bande_reception_delete', {'id': bande_reception.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bande_reception.id) }}">
    <button class="btn">Supprimer</button>
</form>
