<!DOCTYPE html>

<title>Edit Phase</title>

{% block body %}
    <h1>Edit Phase</h1>

    {{ include('phase/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_phase_index') }}">back to list</a>

    {{ include('phase/_delete_form.html.twig') }}
{% endblock %}
