<!DOCTYPE html>

<title>New Phase</title>

{% block body %}
    <h1>Create new Phase</h1>

    {{ include('phase/_form.html.twig') }}

    <a href="{{ path('app_phase_index') }}">back to list</a>
{% endblock %}
